<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="schedule-table">
          <table class="table">
            <thead>
              <tr>
                <th class="">Hora</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="hour">7:30 a 8:20</td>
              </tr>
              <tr>
                <td class="hour">8:30 a 9:20</td>
              </tr>
              <tr>
                <td class="hour">9:30 a 10:20</td>
              </tr>
              <tr>
                <td class="hour">10:30 a 11:20</td>
              </tr>
              <tr>
                <td class="hour">11:30 a 12:20</td>
              </tr>
              <tr>
                <td class="hour">12:30 a 12:50</td>
              </tr>
              <tr>
                <td class="hour">13:00 a 13:50</td>
              </tr>
              <tr>
                <td class="hour">14:00 a 14:50</td>
              </tr>
              <tr>
                <td class="hour">15:00 a 15:50</td>
              </tr>
              <tr>
                <td class="hour">16:00 a 16:50</td>
              </tr>
              <tr>
                <td class="hour">17:00 a 17:50</td>
              </tr>
              <tr>
                <td class="hour">18:00 a 18:50</td>
              </tr>
              <tr>
                <td class="hour">19:00 a 19:50</td>
              </tr>
              <tr>
                <td class="hour">20:00 a 20:50</td>
              </tr>
              <tr>
                <td class="hour">21:00 a 21:50</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
