<div class="container">
    <h2>Cambiar Contraseña</h2>
  
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" class="form-control" id="email" formControlName="email" required>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.valid">Generar nueva contraseña</button>
    </form>
    
    
    <div class="alert alert-success" *ngIf="passwordSent">
      Se ha generado una nueva contraseña y se ha enviado a su correo electrónico.
    </div>
  </div>
  