<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Reserva de Laboratorios</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Laboratorio</th>
              <th>Capacidad</th>
              <th>Computadores</th>
              <th>Otros Activos</th>
              <th>Facilidades</th>
              <th>Reservar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of rows; let i = index">
              <td>{{row.nombre}}</td>
              <td>{{row.tipo}}</td>
              <td>{{row.marca}}</td>
              <td>{{row.cantidadHoras}}</td>
              <td>{{row.hora}}</td>
              <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                  <button (click)="AprobarSolicitud(i)" class="btn btn-outline-success">Aprobar</button>
                  <button (click)="DenegarSolicitud(i)" class="btn btn-outline-danger">Denegar</button>
                </div>
              </td>
            </tr>
          </tbody>          
        </table>
      </div>
    </div>
  </div>
</body>
