<body>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row box-area bg-white shadow h-100">

      <div class="col-md-5 left-box" style="background-image: url('../../assets/login-img.jpg'); background-size:cover; background-position:0% ;">
      </div>

      <div class="col-md-7 right-box">
        <div class="row align-items-center">
          <div class="header-text mb-4">
            <p class="fs-1">Registro Operador LabCE</p>
          </div>

          <form>
            <div class="form-group row p-2">
              <label for="Nombre" class="col-sm-3 col-form-label">Nombre</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="primerNombre" placeholder="Primer Nombre">
              </div>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="apellidos" placeholder="Apellidos">
              </div>
            </div>
            <div class="form-group row p-2">
              <label for="correoEstudiantec" class="col-sm-3 col-form-label">Correo</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="correoEstudiantec" placeholder="ejemplo@estudiantec.cr">
              </div>
            </div>
            <div class="form-group row p-2">
              <label for="contraseña" class="col-sm-3 col-form-label">Contraseña</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="contraseña" placeholder="Contraseña">
              </div>
            </div>
            <div class="form-group row p-2">
              <label for="cedula" class="col-sm-3 col-form-label">Cédula</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="cedula" placeholder="10101010">
              </div>
            </div>
            <div class="form-group row p-2">
              <label for="carnet" class="col-sm-3 col-form-label">Carnet</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="Carnet" placeholder="2024101010">
              </div>
            </div>

            <div class="form-group row">
              <label for="fecha" class="col-sm-3 col-form-label pt-0">Fecha de Nacimiento</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="Carnet" placeholder="DD/MM/AAAA">
              </div>
            </div>

            <div class="form-group row p-2">
              <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</body>
